/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container {
    margin: auto;
    width: 1000px;
}

header nav{
	display: flex;
	flex-wrap: wrap;
}
#navigation{
	position: fixed;
}
header nav a{
    color: #1A428E;
    padding: 50px 20px 0px 40px;
	text-decoration: none;
	background: #AEA9A9;
}
.logo{
	margin: 20px 0px 0px 110px;
	padding-top: 20px;
}
img{max-width: 100%;}
.intro{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin: 50px 0px 50px 0px;
}

#get-attention{
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    margin: 0px 0px 150px 0px;
}
#innovate, #innovate-logo{
    display: inline-block;
    vertical-align: middle;
    margin-top: 50px;
    
}
#innovate{
    font-size: 75px;
    margin-right: 50px;
    padding:50px;
    text-align: center;
}
#innovate-logo{
    margin-left: 50px;
}
ul{
	list-style-type: square;
	list-style-position: inside;
	line-height: 30px;
	margin-top: 20px;
}
.about-service{
	font-size: 17px;
	width: 900px;
}

#button1{
    padding: 10px 40px;
    margin: 0px;
    background-color: white;
    border: 1px solid black;
    color: black;
}
.learn{
	border: 1px solid black;
	padding: 5px 30px 5px 30px;
	margin-top: 20px;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	background: white;
}
@keyframes link{
    0%{background:black;}
    25%{background:darkgreen;}
    50%{background: darkblue;}
    100%{background:blueviolet }
}
#button1:hover{
    color: white;
    font-size: 75%;
    animation-name: link;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#title{
	font-size: 25px;
	padding: 20px 0px 20px 0px;
    margin: 0px;
}
.cont-header{
    margin-top: 25px;
}
.content{
    width: 100%;
    vertical-align: middle;
}
.content1{
    display: inline-block;
    text-align: left;
    max-width: 49%;
	font-family: 'Livvic', sans-serif;
	padding-bottom: 15px;

}
.content2{
    display: inline-block;
    text-align: left;
    max-width: 31%;
    margin: 25px 0px 25px 0px;
    font-family: 'Livvic', sans-serif;
}
.content img{
    width: 100%;
    padding: 10px;
}
.serv-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 35px;
	padding-bottom: 30px;
}
.serv-item{
	background: #E8E8E8;
	border: 1px solid black;
	width: 400px;
	padding: 25px;
	margin: 30px 0px 0px 0px;
	font-size: 16px;
}
.facts{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 40px;
}
.facts-item{
	width:300px;
	font-size: 17px;
	flex-basis: 50%
}
.services-info-img{
	flex-basis: 45%
}
.copy{
	text-align: center;
	margin-top: 50px;
}
footer{
    margin-bottom: 50px;
    padding: 25px;
}